body {
    font-family: 'PT Mono', monospace;
    background-color: #010b13;
}

#header {
    display: flex;
    justify-content: center;
}

p {
    color: white
}

.title {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

#content {
    width: 40%;
    margin: 50px auto;
}