body {
    font-family: 'PT Mono', monospace;
    background-color: gainsboro;
}

#header {
    display: flex;
    justify-content: center;
}

.title {
    color: black;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

#calculator-body {
    width: 30%;
    margin: 50px auto;
    height: 450px;
    border: 15px solid #820808;
    border-radius: 10px;

}

.calculator-display {
    display: block;
    width: 100%;
    height: 25%;
    margin: 0 auto;
    background-color: black;
}

#operations {
    text-align: right;
    padding-top: 15px;
    font-size: 1.2em;
    padding-right: 10px;
    height: 24px;
    color: white;
}

#result {
    text-align: right;
    padding-top: 35px;
    font-size: 1.7em;
    padding-right: 10px;
    height: 24px;
    color: white;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

button {
    width: 25%;
    height: 20%;
    font-size: 20px;
    border: 1px solid black
}

.double {
    width: 50%;
}

.literal {
    background-color: #424242;
    color: #dcdcdc
}

.control {
    background-color: #d6d6d6;
    color: black
}

.number:active {
    background-color: black;
}

.operator {
    background-color: #ff9400;
    color: #dcdcdc;
}
