body {
    font-family: 'PT Mono', monospace;
    background-color: #010b13;
}

#header {
    display: flex;
    justify-content: center;
}

p {
    color: white
}

.title {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

#calculator-body {
    width: 30%;
    margin: 50px auto;
    height: 450px;
    border: 1px solid white;
}

.calculator-display {
    display: block;
    width: 100%;
    height: 25%;
    margin: 0 auto;
    /*border: 1px solid green*/
}

.operations {
    text-align: right;
    padding-top: 10px;
    font-size: 1.5em;
    padding-right: 10px;
}

.result {
    text-align: right;
    padding-top: 45px;
    font-size: 1.5em;
    padding-right: 10px;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

button {
    width: 25%;
    height: 20%;
    font-size: 20px;
    border: 1px solid black
}

.double {
    width: 50%;
}

.control {
    background-color: #d6d6d6;
    color: black
}

.number {
    background-color: #424242;
    color: #dcdcdc
}

.number:active {
    background-color: black;
}

.operator {
    background-color: #ff9400;
    color: #dcdcdc;
}